<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @order.currency %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @order.customer_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Order category:</strong>
  <%= @order.order_category.name %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
